/*默认样式清除*/
*{
    padding: 0px;
    margin: 0px;
}

body,html{
    height: 100%;
    width: 100%;
    background: #f1f1f1;
}

a{
    cursor: pointer;
    text-decoration:none;
}

.fill-full{
    height: 100%;
    width: 100%;
}

.width-full{
    width: 100%;
}

.height-full{
    height: 100%;
}

/*弹性布局*/
.flex-dir-row{
    display: flex;
    flex-direction: row;
}

.flex-dir-column{
    display: flex;
    flex-direction: column;
}

/*主轴对齐*/
.flex-main-dir-center{
    justify-content: center;
}

.flex-main-dir-start{
    justify-content: flex-start;
}

/*交叉轴对齐*/
.flex-cross-dir-center{
    align-items: center;
}

/*上下都居中*/
.flex-all-dir-center{
    justify-content: center;
    align-items: center;
}

/*换行机制*/
.flex-nowrap{
    flex-wrap: nowrap;
}
/*滚动条整体样式*/
::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}

/*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 2px;
    background: #ccc;
}
